/* === Main module === */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  // min-width: 100vw;
}

.clearfix::after {
    display: table;
    clear: both;

    content: "";
}

.wrapper {
    min-width: 1024px;
}

.main {
  padding-top: 80px;
  padding-bottom: 150px;
}

/* logo */

.logo {
    font-family: "Pacifico", sans-serif;
    font-size: 30px;
    line-height: 48px;

    transition: .3s linear;

    color: #4c4e50;
    // outline: 2px solid crimson;
    // outline-offset: -2px;
}

/* EOF logo */



/* desktop */

.header {
    position: absolute;

    width: 100%;

    // background-color: hsla(0, 0%, 94%, 1); //hsla(360, 0%, 81%, .16);
    // outline: 2px solid forestgreen;
    // outline-offset: -2px;

    & .wrap {
        max-width: 1400px;
        margin: 0 auto;
    }
}




.desktop {

    position: relative;
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    // outline: 5px dashed crimson;
    // outline-offset: -3px;

    &-wrapper {
        position: absolute;
        left: 50%;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        transform: translateX(-50%);
    }

    &-img {
        position: absolute;
        left: 50%;
        display: block;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        // background-color: crimson;

        & img {
            position: absolute;
            left: 50%;
            display: block;
            min-width: 1920px;
            min-height: 1080px;
            transform: translateX(-50%);
        }

        & .drops {
            position: absolute;
            left: 50%;
            min-width: 1920px;
            min-height: 1080px;
            transform: translateX(-50%);
        }
    }
}

/* EOF desktop */

/* burger-menu */

$burgerSize: 21px;
$burgerFill: #4c4e50;

.burger {
    display: inline-block;
    width: $burgerSize * 1.3;
    height: $burgerSize;
    margin: 10px;

    &-menu {
        position: relative;
        float: left;
        padding-left: 10px;
    }

    span,
    span:before,
    span:after {
        display: block;
        width: 100%;
        height: $burgerSize / 7;
        transition: all .5s;
        background: $burgerFill;
        backface-visibility: hidden;
    }

    span {
        position: relative;
        margin: ($burgerSize * 2 / 7) 0 0;
    }

    span:before,
    span:after {
        position: absolute;
        content: "";
    }

    span:before {
        top: $burgerSize * -2 / 7;
    }

    span:after {
        top: $burgerSize * 2 / 7;
    }
}

.burger3.selected {

    span:before {
        transform: translate(0px, ($burgerSize * 2 / 7)) rotate(90deg);
    }

    span:after {
        transform: translate(0px, -($burgerSize * 2 / 7)) rotate(90deg);
    }

    span {
        transform: rotate(-45deg);
    }
}

/* EOF burger-menu */


.top-nav {

    padding-top: 41px;
    padding-bottom: 41px;
    background-color: #fff;
    // outline: 2px dashed darkorange;
    // outline-offset: -2px;

    & .wrap {
        max-width: 1400px;
        max-width: 1120px; // !
        margin: 0 auto;
        transition: all .3s;
    }

    & .left {
        float: left;
    }

    & .right {
        float: right;
        // outline: 2px dashed gold;
        // outline-offset: -2px;
    }
}

.main-nav {
    padding-top: 8px;
    &-bar {
        display: none;
        float: left;

        li {
            display: inline-block;

            vertical-align: top;

            & a {
                font-size: 12px;
                font-weight: normal;

                position: relative;

                display: block;

                margin-right: 10px;
                padding: 10px 15px;

                transition: all .3s ease-in-out;
                white-space: nowrap;
                text-decoration: none;
                letter-spacing: 4px;
                text-transform: uppercase;

                color: #111;

                &:hover {
                    color: rgba(32, 167, 113, 1);                  //#7b5b4b;
                    border-bottom-color: rgba(32, 167, 113, 1);    //#7b5b4b;
                    background: transparent;

                    &::after {
                        transform: translateY(0px);

                        opacity: 1;
                    }
                }

                &::after {
                    display: block;

                    height: 2px;
                    margin-top: 6px;
                    margin-right: 4px;

                    content: "";
                    transition: all .3s ease-in-out;
                    transform: translateY(12px);

                    opacity: 0;
                    background: rgba(32, 167, 113, 1);    //#7b5b4b;
                }
            }
        }
    }
}

  /* main-nav-bar animations and fade-in-outs */

  .animated {
      transition: all .2s linear;
      animation-duration: 1s;

      animation-fill-mode: both;

      &.item1 {
          animation-delay: .1s;
      }
      &.item2 {
          animation-delay: .2s;
      }
      &.item3 {
          animation-delay: .3s;
      }
      &.item4 {
          animation-delay: .4s;
      }
  }

  .fadeInUp {
      animation-name: fadeInUp;
  }

  @keyframes fadeInUp {
      0% {
          transform: translate3d(0,100%,0);

          opacity: 0;
      }100% {
          transform: none;

          opacity: 1;
      }
  }

  @keyframes fadeOut {
      0% {
          opacity: 1;
      }100% {
          opacity: 0;
      }
  }

  /* EOF main-nav-bar animations and fade-in-outs */

/* second title: */
.sec-title {

    // background-color: hsla(0, 0%, 94%, 1);
    position: relative;

    margin-bottom: 60px;

    text-align: center;

    &::before {
        position: absolute;
        bottom: -26px;
        left: 50%;

        width: 45px;
        height: 2px;
        margin-left: -22.5px;

        content: "";

        background: #4fc1f0;
    }

    h2 {
        font-family: "Raleway", sans-serif;
        font-size: 36px;
        font-weight: 700;

        position: relative;

        margin-bottom: 15px;

        letter-spacing: .5px;
        text-transform: uppercase;

        color: #333;
    }
    span {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;

        display: block;

        letter-spacing: .2em;
        text-transform: uppercase;

        color: #8d8d8d;
    }
}

/* headhesive */

.top-nav {
    position: fixed;
    top: 0;

    width: 100%;

    opacity: 0;
    // z-index: 10;
    // transition: .3s;
}


.headhesive {
    position: fixed;
    z-index: 10;
    top: 0;

    width: 100%;

    transition: .5s;

    opacity: 1;

    &--stick {
        .logo {
            font-size: 25px;
            line-height: 46px;
        }

        &.top-nav {
            position: fixed;

            padding-top: 16px;
            padding-bottom: 16px;

            background-color: rgba(255, 255, 255, .901961);

            & .wrap {
                max-width: 1120px;
            }
        }
    }
}

/* EOF headhesive */






/* tooltips-drops */

.tp {
    &-item {
        position: absolute;

        display: inline-block;

        text-align: center;
    }
    &-item1 {
        top: 634px;
        left: 420px;

        & .tp-mask {
            &:hover ~ .tp-caption {
                color: #000;
            }
        }
    }
    &-item2 {
        top: 691px;
        left: 561px;

        & .tp-mask {
            &:hover ~ .tp-caption {
                color: #000;
            }
        }
    }
    &-item3 {
        top: 590px;
        left: 854px;

        & .tp-mask {
            &:hover ~ .tp-caption {
                color: #fff;
            }
        }
    }
    &-item4 {
        top: 608px;
        left: 1416px;

        & .tp-mask {
            &:hover ~ .tp-caption {
                color: #fff;
            }
        }
    }
    &-wrap {
        // outline: 2px dashed crimson;
        // outline-offset: -2px;
        padding-bottom: 20px;
    }
    &-mask {
        position: relative;
        z-index: 2;

        display: inline-block;

        min-width: 25px;
        max-width: 25px;
        min-height: 25px;
        max-height: 25px;
        // animation-duration: 1s;

        cursor: pointer;
        transition: all .4s linear;
        transform: rotate(-45deg);
        animation: tp-mask-loop 2s infinite;

        border: 5px solid #fff;
        border-radius: 50% 50% 50% 0;
        background-color: rgb(62, 138, 108);
        &:hover {
            border-color: rgb(62, 138, 108);
            background-color: #fff;
        }
        &:hover ~ .tp-caption {
            top: -53px;

            transform: none;
            animation-name: tp-caption-show;
            // animation-delay: 1s;
            // animation-duration: 1.2s;

            opacity: 1;
            color: red;
        }
    }
    &-caption {
        font-family: "Raleway", sans-serif;
        font-size: 18px;

        position: relative;
        top: -45px;

        transition: .5s ease-out;
        transform: translate3d(0,100%,0);
        white-space: nowrap;

        opacity: 0;
        color: black;
    }
}



@keyframes tp-caption-show {
    0% {
        transform: translate3d(0,100%,0);
        // transition: .1s ease;

        opacity: 0;
    }100% {
        transform: none;
        // transition: .1s ease;

        opacity: 1;
    }
}

@keyframes tp-mask-loop {
    0% {
        transform: translate3d(0px, 5px, 0px) rotate(-45deg);
    }10% {
        transform: translate3d(0px, 4px, 0px) rotate(-45deg);
    }20% {
        transform: translate3d(0px, 3px, 0px) rotate(-45deg);
    }30% {
        transform: translate3d(0px, 2px, 0px) rotate(-45deg);
    }40% {
        transform: translate3d(0px, 1px, 0px) rotate(-45deg);
    }50% {
        transform: translate3d(0px, 0px, 0px) rotate(-45deg);
    }60% {
        transform: translate3d(0px, 1px, 0px) rotate(-45deg);
    }70% {
        transform: translate3d(0px, 2px, 0px) rotate(-45deg);
    }80% {
        transform: translate3d(0px, 3px, 0px) rotate(-45deg);
    }90% {
        transform: translate3d(0px, 4px, 0px) rotate(-45deg);
    }100% {
        transform: translate3d(0px, 5px, 0px) rotate(-45deg);
    }
}





/* EOF tooltips */

/* typed START*/

.title {
    font-family: "Raleway";
    font-size: 70px;
    font-weight: 800;
    line-height: 70px;

    position: relative;
    z-index: 1;

    margin-top: 227px;

    text-align: center;
    text-transform: uppercase;

    color: #373737;
}

.type-wrap {
    display: inline-block;

    letter-spacing: .03em;

    & span {
        font-weight: 900;

        letter-spacing: .03em;

        color: rgb(62, 138, 108); //#1cbac8;
    }

    & .typed {
        &-cursor {
            position: relative;
            bottom: 5px;

            animation: blink .7s infinite;

            opacity: 1;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* eof typed */
.main {
    background-color: hsla(0, 0%, 94%, 1); // azure; //cornsilk;
    // outline: 2px dashed tomato;
    // outline-offset: 2px;

    & .wrap {
        max-width: 1400px;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}


.element {
    padding-top: 0;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.portfolio {
    position: relative;

    height: 1507px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;

        content: "MAIN_CONTENT";
    }

    &-item1 {
        top: 0;
        left: 0;

        width: 50%;

        & .portfolio-wrapper {
            min-height: 588px;
        }
        & .portfolio-item {
            &-content {
                background-color: slategray;
                background-image: url("../img/01.jpg");
                background-position: center center;
                background-size: cover;
            }
        }

        & .portfolio {
            &-description-wrapper {
                // width: calc(50% - 30px);
            }
        }
    }
    &-item2 {
        top: 0;
        left: 685px;

        width: 50%;

        & .portfolio-wrapper {
            min-height: 279px;
        }
        & .portfolio-item {
            &-content {
                background-color: palevioletred;
                background-image: url("../img/02.jpg");
                background-position: center center;
                background-size: cover;
            }
        }
    }
    &-item3 {
        top: 305px;
        left: 685px;

        width: 25%;

        & .portfolio-wrapper {
            min-height: 279px;
        }
        & .portfolio-item {
            &-content {
                background-color: navajowhite;
                background-image: url("../img/03.jpg");
                background-position: center center;
                background-size: cover;
            }
        }
    }
    &-item4 {
        top: 305px;
        left: 1027px;

        width: 25%;

        & .portfolio-wrapper {
            min-height: 279px;
        }
        & .portfolio-item {
            background-color: hsla(116, 19%, 16%, .58);
            &-content {
                background-color: sandybrown;
                background-image: url("../img/04.jpg");
                background-position: center center;
                background-size: cover;
            }
        }
    }
    &-item5 {
        top: 570px;
        left: 0;

        width: 25%;

        & .portfolio-wrapper {
            min-height: 279px;
        }
        & .portfolio-item {
            &-content {
                background-color: sandybrown;
                background-image: url("../img/05.jpg");
                background-position: center center;
                background-size: cover;
            }
        }
    }
    &-item6 {
        top: 570px;
        left: 342px;

        width: 50%;

        & .portfolio-wrapper {
            min-height: 588px;
        }
        & .portfolio-item {
            &-content {
                background-color: sandybrown;
                background-image: url("../img/06.jpg");
                background-position: center center;
                background-size: cover;
            }
        }
    }
    &-item7 {
        top: 570px;
        left: 1027px;

        width: 25%;

        & .portfolio-wrapper {
            min-height: 279px;
        }
        & .portfolio-item {
            &-content {
                background-color: sandybrown;
                background-image: url("../img/07.jpg");
                background-position: center center;
                background-size: cover;
            }
        }
    }
    &-item8 {
        top: 855px;
        left: 0;

        width: 25%;

        & .portfolio-wrapper {
            min-height: 279px;
        }
        & .portfolio-item {
            &-content {
                background-color: crimson;
                background-image: url("../img/08.jpg");
                background-position: center center;
                background-size: cover;
            }
        }
    }
    &-item9 {
        top: 1140px;
        left: 0;

        width: 50%;

        & .portfolio-wrapper {
            min-height: 279px;
        }
        & .portfolio-item {
            &-content {
                background-color: sandybrown;
                background-image: url("../img/09.jpg");
                background-position: center center;
                background-size: cover;
            }
        }
    }

    &-item1,
    &-item2,
    &-item3,
    &-item4,
    &-item5,
    &-item6,
    &-item7,
    &-item8,
    &-item9 {
        // position: absolute;
        float: left;
        // outline: 1px solid sienna;
        // outline-offset: -3px;

        & .portfolio-wrapper {
            position: relative;
            box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
            transition: .3s linear;

            &:hover {
              box-shadow: 0 10px 25px rgba(41,52,73,.5);
            }
        }

        & .portfolio-item {
            position: absolute;

            overflow: hidden;

            width: 100%;
            height: 100%;

            &-link {
                &:hover {
                    & .portfolio-item-content {
                        transform: scale(1.04);
                    }

                    & .portfolio-description-wrapper {
                        opacity: 1;
                        background-color: rgba(51, 51, 51, .65); //rgba(0, 0, 0, 0.7);
                    }

                    & .caption {
                        animation-name: block-caption-show;
                        animation-duration: 1s;
                        opacity: 1;
                    }
                    & .icon {
                        // transform: translatey(400%);
                        top: 50%;

                        transform: translate(-50%, -100%);

                        opacity: 1;
                    }
                }
            }

            &-content {
                position: absolute;

                display: block;

                width: 100%;
                height: 100%;

                transition: all .5s ease;
                transform: scale(1);
                //
            }
        }
    }


    &-item {
    }

    &-title {
    }

    &-description {
        overflow: hidden;

        &-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;


            transition: all .4s;

            opacity: 0;
            // height: calc(100% - 30px);
            // width: calc(100% - 30px);
        }
    }
}

/* column: */
.column {
  position: relative;
  float: left;
  width: 25%;

  & .portfolio-item5 {
    float: none;
    width: 100%;
  }
  & .portfolio-item8 {
    float: none;
    width: 100%;
  }
}

/* eof previous */

@keyframes block-caption-show {
    0% {
        // transform: translateX(-100%);
        // transition: .1s ease;

        opacity: 0;
    }100% {
        // transform: translateX(0%);
        // transition: .1s ease;

        opacity: 1;
    }
}

.portfolio-description-wrapper {}
.portfolio-title {}

.caption {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;

    padding: 30px 15px;

    transition: .5s linear;
    // transform: translateY(60px);
    // transform: translateX(-100%);

    background-color:  hsla(156, 68%, 39%, 0.95);// hsla(97, 52%, 54%, .7); //rgba(195,81,47,.9); //rgba(127, 94, 77, 0.9);

    h3 {
        font-family: "Lato", sans-serif;
        // text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;

        display: block;

        color: #f3f3f3;
    }
}

.icon {
    position: absolute;
    top: 0;
    left: 50%;

    transition: all 1000ms ease;
    transform: translateX(-50%);

    opacity: 0;
    border-radius: 50%;
    // border: 2px solid rgba(255, 255, 255, 0.5);
    // width: 70px;
    // height: 70px;

    &-link-svg {
        display: block;

        width: 60px;
        height: 60px;
        margin: 0 auto;
        // transform: translateY(45%);

        transition: all 1000ms ease;

        fill: #c4c4c4;
        // transform: translateY(-100%);
    }
}


.footer {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    // outline: 2px dashed deepskyblue;
    // outline-offset: -2px;

    padding-bottom: 40px;

    text-align: center;

    background: #333;
    &-line {
        border-top-width: 6px;
        border-top-style: solid;
        border-top-color: hsla(156, 38%, 39%, .5);
        background-color: #fff;
    }

    &-top {
        position: relative;
        z-index: 2;

        margin-bottom: 30px;
        padding: 30px;

        background: hsla(156, 38%, 39%, 1);
    }
    &-bottom {
        // background: rgba(38, 38, 38, 1);
    }

    & .wrap {
        max-width: 1400px;
        margin: 0 auto;
    }

    &-quote {
        font-size: 18px;
        line-height: 28px;

        letter-spacing: 4px;

        &-author {
            font-size: 13px;
        }
    }
}

.scrolltop {
    position: absolute;
    z-index: 1;
    left: 50%;

    width: 110px;
    height: 110px;
    margin: 16px auto 0;

    transform: rotate(45deg) translateX(-78px);

    background: hsla(156, 38%, 39%, 1);


    &::before {
        position: absolute;
        top: 19px;
        left: 20px;

        width: 2px;
        height: 30px;

        content: "";

        background-color: #fff;
    }
    &::after {
        position: absolute;
        top: 5px;
        left: 34px;

        width: 2px;
        height: 30px;

        content: "";
        transform: rotate(90deg);

        background-color: #fff;
    }
}
