/* === Main module === */



.header {

  outline: 2px solid crimson;
  outline-offset: -2px;

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 1200px) {
    .container {
      width: 1170px;

      outline: 2px dashed lightgreen;
      outline-offset: -4px;
    }
  }

  .menu-wrapper {
    padding-top: 55px;
    padding-bottom: 35px;
  }
}

.navbar-header {

  float: left;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #000;
  }
}

.navbar {
  float: right;
}

.navbar-nav {
  outline: 2px dashed gold;
  outline-offset: -2px;



  & li {
    display: inline-block;
    vertical-align: top;
  }
}

.navbar-nav li > a {
    font-size: 12px;
    font-weight: normal;

    position: relative;

    display: block;

    margin-right: 10px;
    padding: 10px 15px;

    transition: all .3s ease-in-out;
    white-space: nowrap;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;

    &:hover {
      background: transparent;
      color: #7b5b4b;
      border-bottom-color: #7b5b4b;

      &::after {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    &::after {
      content: '';
      display: block;
      height: 2px;
      background: #7b5b4b;
      margin-top: 6px;
      opacity: 0;
      transform: translateY(12px);
      transition: all 0.3s ease-in-out;
    }
}


.social-header {

    li {
      display: block;
      float: left;
      margin-right: 20px;
      position: relative;
    }




    li a {
      display: block;
      text-align: center;
      width: 35px;
      height: 35px;
      padding-left: 5px;
      line-height: 35px;
      margin-right: 0;
      font-size: 13px;
      color: #333333;

      &:hover {
        color: #7b5b4b;

        &::before {
          transform: scale3d(1, 1, 1);
          opacity: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #7b5b4b;
        z-index: -1;
        border-radius: inherit;
        opacity: 0;
        transform: scale3d(0.6, 0.6, 1);
        transition: transform 0.3s, opacity 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      }
    }
}
